/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   background: linear-gradient(to right, #252424ba, #a0a19fd2) ,url(../src/assets/imagenes/cabecera.jpg);
   font-family: "Lato", sans-serif;
   font-weight: 400;
   line-height: 1.7;
   padding: 1.875rem;
}

.header {
   height: 20vh;
   background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
   clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.heading-primary {
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
}
@media only screen and (max-width: 37.5rem) {
  .heading-primary {
    font-weight: 700;
    letter-spacing: 0.2rem;
  }
}








