<h3>Agregar (Agregar-Cliente Component)</h3>
      <hr>

      <form (submit)="agregar()">
          <input
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)] = "nuevo.nombre"
               />

          <input
               type="number"
               placeholder="Credito"
               name="credito"
               [(ngModel)]="nuevo.credito"
               />


          <button type="submit">
            Agregar
          </button>
      </form>
